<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
    <h1>Roommate</h1>

    <h2>Admin</h2>

    <div class="row m-3">
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-dark" type="submit" value="Logout">
        </form>
    </div>

    <img th:src="@{/img/maskparrot.gif}" src="../static/img/maskparrot.gif" alt="Party Parrot">
    <img th:src="@{/img/maskparrot.gif}" src="../static/img/maskparrot.gif" alt="Party Parrot">

</div>
</body>
</html>